/* Asegúrate de incluir html y #root */
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.icon-hidden {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}


.task-row:hover .icon-hidden {
    opacity: 1;
}